.warna-bg {
  background: linear-gradient(to right, rgba(91, 134, 229, 0.92), rgba(54, 209, 220, 0.92));
}

.jumbotron-bg {
  background-size: cover;
  background: url(img/bg.png);
  background-size: 300px;
}

.foto {
  width: 200px;
  height: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.berita1 img {
  width: 650px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.berita2 img {
  width: 650px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.berita2 .satu {
  width: 650px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.berita2 .dua {
  width: 650px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.berita2 .tiga {
  width: 600px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.berita2 .lima {
  width: 600px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.berita3 img {
  width: 620px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}
